page-tasks {

/* 	.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	} */

	ion-card.card {
		box-shadow: none;
		background: rgba(160, 157, 157, 0.12);
		border-radius: 5px;
	}

	a, p,
	ion-card-header.card-header {
		color: #fff!important;
	}

	.list > .item-block:first-child {
		border: medium none;
	}

	.item {
		margin-bottom: 10px;
		background: rgba(181, 176, 176, 0.33);
		border: medium none;

		.text-input, {
			color: #fff;
		}

		input::-moz-placeholder  {
			color: #fff!important;
		}

		input:-moz-placeholder {
			color: #fff!important;
		}

		*::-webkit-input-placeholder  {
			color: #fff!important;
		}

		*:-ms-input-placeholder  {
			color: #fff!important;
		}

		*:-moz-placeholder  {
			color: #fff!important;
		}
	}

	.icon {
		padding-right: 10px;
	}

	.bottom {
		position: absolute;
		bottom: 0;
		background: rgba(160, 157, 157, 0.12);
	}

	.select{
		margin-left: 240px;
	}

	.select-text {
    position: absolute;
    left: 23px;
    color: #fff;
	}

	  ion-textarea {
    max-width: 100%;
    width: 100%;
    height: 34vh;
    padding-left: 5px;
    overflow: auto;
    resize: none;
  }

  .select .select-placeholder {
    color: #fff;
}

}
